# Basic Python

In [284]:
lst = [n for n in range(0,10)]
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [285]:
def add_nums(x,y):
    return x+y

add_nums(1,2)

3

In [286]:
my_list = [1,2,3,4,5]
my_list.append(6) 
my_list

[1, 2, 3, 4, 5, 6]

In [287]:
my_list[0]

1

In [288]:
my_list + ['a','b','c']

[1, 2, 3, 4, 5, 6, 'a', 'b', 'c']

In [289]:
1 in my_list

True

In [290]:
my_list[0:3]

[1, 2, 3]

In [291]:
fullName = 'Andrea Alvarez Rodriguez'
firstName = fullName.split(" ")[0]
secondLastName = fullName.split(" ")[-1]
print(firstName)
print(secondLastName)

Andrea
Rodriguez

In [292]:
x = {"David Arango": "david@gmail.com", "Andrea Alvarez": "andrea@gmail.com"}
x

{'Andrea Alvarez': 'andrea@gmail.com', 'David Arango': 'david@gmail.com'}

In [293]:
x["David Arango"]

'david@gmail.com'

In [294]:
x["Catalina Arango"] = "cata@gmail.com"
x

{'Andrea Alvarez': 'andrea@gmail.com',
 'Catalina Arango': 'cata@gmail.com',
 'David Arango': 'david@gmail.com'}

In [295]:
store1 = [10.0, 10.5, 11.3]
store2 = [10.2, 10.1, 11.5]
cheapest = map(min, store1, store2)
cheapest

In [296]:
list(cheapest)

[10.0, 10.1, 11.3]

In [297]:
"the story of {0} and {1} and {c}".format("a","b", c="c")

'the story of a and b and c'

# Numpy Library

In [298]:
import numpy as np

In [299]:
#creating a numpy array:
my_list = [1,2,3] #python list
array1 = np.array(my_list) #pass python list to numpy array
array1

array([1, 2, 3])

In [300]:
# or more succint:
array1 = np.array([11,12,13])
array1

array([11, 12, 13])

In [301]:
#multidimensional arrays:
array1 = np.array([[1,2,3],[4,5,6],[7,8,9]])
array1

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [302]:
#checking dimensions of an array:
array1.shape

(3, 3)

In [303]:
#creating an evenly-spaced array:
array1 = np.arange(0,30,2) #(start,end,step-size)
array1

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28])

In [304]:
#reshaping an array:
array1 = array1.reshape(3,5)
array1

array([[ 0,  2,  4,  6,  8],
       [10, 12, 14, 16, 18],
       [20, 22, 24, 26, 28]])

In [305]:
#create array with fixed number of elements, and defined range
array1 = np.linspace(0,4,9) # (start,end,number of elements)
array1

array([0. , 0.5, 1. , 1.5, 2. , 2.5, 3. , 3.5, 4. ])

In [306]:
# resizing an array (does not create new array, modifies original)
array1.resize(3,3)
array1

array([[0. , 0.5, 1. ],
       [1.5, 2. , 2.5],
       [3. , 3.5, 4. ]])

In [307]:
# ones array
np.ones((3,3))

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [308]:
# zeros array
np.zeros((3,3))

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [309]:
# identity array
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [310]:
# diagonal array from vector:
np.diag([2,3,4])

array([[2, 0, 0],
       [0, 3, 0],
       [0, 0, 4]])

In [311]:
# create array2 by repeating array1:
np.array([[1,2,3]*3,[4,5,6]*3]*3)

array([[1, 2, 3, 1, 2, 3, 1, 2, 3],
       [4, 5, 6, 4, 5, 6, 4, 5, 6],
       [1, 2, 3, 1, 2, 3, 1, 2, 3],
       [4, 5, 6, 4, 5, 6, 4, 5, 6],
       [1, 2, 3, 1, 2, 3, 1, 2, 3],
       [4, 5, 6, 4, 5, 6, 4, 5, 6]])

In [312]:
# create array by repeating values:
np.repeat([1,2,3],3)

array([1, 1, 1, 2, 2, 2, 3, 3, 3])

In [313]:
# array of ones, integers:
p = np.ones([2,3], int)
p

array([[1, 1, 1],
       [1, 1, 1]])

In [314]:
#stacking vertically:
np.vstack([p,p*2])

array([[1, 1, 1],
       [1, 1, 1],
       [2, 2, 2],
       [2, 2, 2]])

In [315]:
#stacking horizontally:
np.hstack([p,p*3])

array([[1, 1, 1, 3, 3, 3],
       [1, 1, 1, 3, 3, 3]])

## Array Operations

In [316]:
x = np.array([1,2,3])
y = np.array([4,5,6])

In [317]:
x+y

array([5, 7, 9])

In [318]:
x*y

array([ 4, 10, 18])

In [319]:
x**2

array([1, 4, 9], dtype=int32)

In [320]:
x.dot(y)

32

In [321]:
z = np.array([y,y**2])
z

array([[ 4,  5,  6],
       [16, 25, 36]])

In [322]:
# Transpose of an array:
z.T

array([[ 4, 16],
       [ 5, 25],
       [ 6, 36]])

In [323]:
z.T.shape

(3, 2)

In [324]:
z.dtype

dtype('int32')

In [325]:
# cast array to a different type:
z.astype('f')

array([[ 4.,  5.,  6.],
       [16., 25., 36.]], dtype=float32)

## Useful Functions

In [326]:
x.min()
x.max()
x.sum()

6

In [327]:
x.mean()
x.std()

0.816496580927726

In [328]:
# index of max and min values:
x.argmin()
x.argmax()

2

## Indexing and Slicing

In [329]:
v = np.arange(13)**2
v

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100, 121, 144],
      dtype=int32)

In [330]:
v[0],v[4],v[0:3]

(0, 16, array([0, 1, 4], dtype=int32))

In [331]:
# slice from the end of the array:
v[-3:]

array([100, 121, 144], dtype=int32)

In [332]:
# downsampling an array:
v[::2]

array([  0,   4,  16,  36,  64, 100, 144], dtype=int32)

In [333]:
# extracting rows
z[0,:]

array([4, 5, 6])

In [334]:
# extracting cols
z[:,0:2]

array([[ 4,  5],
       [16, 25]])

In [335]:
# extract all cols except the last
z[:,:-1]

array([[ 4,  5],
       [16, 25]])

In [336]:
# extract elements that satisfy a condition:
z[z>5]

array([ 6, 16, 25, 36])

In [337]:
# change element values that satisfy a condition:
z[z>6]=10
z

array([[ 4,  5,  6],
       [10, 10, 10]])

## Making Copies of Arrays

In [346]:
r = np.arange(24)
r.resize(6,4)
r

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23]])

In [347]:
s = r[:3,:3]
s

array([[ 0,  1,  2],
       [ 4,  5,  6],
       [ 8,  9, 10]])

In [349]:
s[s>0]=0
s

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

In [350]:
# s IS NOT A COPY OF r[:3,:3] ! they are the same registers
r

array([[ 0,  0,  0,  3],
       [ 0,  0,  0,  7],
       [ 0,  0,  0, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23]])

In [365]:
# to make a copy:
r_copy = r.copy()
r_copy[:] = 10
print(r)
print()
print(r_copy)

[[ 0  0  0  3]
 [ 0  0  0  7]
 [ 0  0  0 11]
 [12 13 14 15]
 [16 17 18 19]
 [20 21 22 23]]

[[10 10 10 10]
 [10 10 10 10]
 [10 10 10 10]
 [10 10 10 10]
 [10 10 10 10]
 [10 10 10 10]]

In [366]:
r_copy[0,:2]

array([10, 10])

## Iterating Over Arrays

In [374]:
test = np.random.randint(0,10,(5,3))
test

array([[4, 9, 7],
       [6, 4, 3],
       [6, 9, 8],
       [4, 9, 1],
       [9, 6, 2]])

In [379]:
for row in test:
    print(row)

[4 9 7]
[6 4 3]
[6 9 8]
[4 9 1]
[9 6 2]

In [381]:
for i in range(len(test)):
    print(test[i])

[4 9 7]
[6 4 3]
[6 9 8]
[4 9 1]
[9 6 2]

In [383]:
for i, row in enumerate(test):
    print('row', i, 'is', row)

row 0 is [4 9 7]
row 1 is [6 4 3]
row 2 is [6 9 8]
row 3 is [4 9 1]
row 4 is [9 6 2]

In [387]:
test2 = test**2
test2

array([[16, 81, 49],
       [36, 16,  9],
       [36, 81, 64],
       [16, 81,  1],
       [81, 36,  4]], dtype=int32)

In [390]:
for i,j in zip(test, test2):
    print(i, '+', j, '=', i+j)

[4 9 7] + [16 81 49] = [20 90 56]
[6 4 3] + [36 16  9] = [42 20 12]
[6 9 8] + [36 81 64] = [42 90 72]
[4 9 1] + [16 81  1] = [20 90  2]
[9 6 2] + [81 36  4] = [90 42  6]

# PANDAS Toolkit

In [391]:
import pandas as pd

## The Series Data Structure

In [392]:
pd.Series? # series documentation

In [393]:
# create series from a python list (look at the data types)
animals = ['dog', 'cat', 'bird']
pd.Series(animals)

0     dog
1     cat
2    bird
dtype: object

In [394]:
# create series from a python list (look at the data types)
numbers = [1,2,3,4,5]
pd.Series(numbers)

0    1
1    2
2    3
3    4
4    5
dtype: int64