# Basic Python

In [122]:
lst = [n for n in range(0,10)]
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [123]:
def add_nums(x,y):
    return x+y

add_nums(1,2)

3

In [124]:
my_list = [1,2,3,4,5]
my_list.append(6) 
my_list

[1, 2, 3, 4, 5, 6]

In [125]:
my_list[0]

1

In [126]:
my_list + ['a','b','c']

[1, 2, 3, 4, 5, 6, 'a', 'b', 'c']

In [127]:
1 in my_list

True

In [128]:
my_list[0:3]

[1, 2, 3]

In [129]:
fullName = 'Andrea Alvarez Rodriguez'
firstName = fullName.split(" ")[0]
secondLastName = fullName.split(" ")[-1]
print(firstName)
print(secondLastName)

Andrea
Rodriguez

In [130]:
x = {"David Arango": "david@gmail.com", "Andrea Alvarez": "andrea@gmail.com"}
x

{'Andrea Alvarez': 'andrea@gmail.com', 'David Arango': 'david@gmail.com'}

In [131]:
x["David Arango"]

'david@gmail.com'

In [132]:
x["Catalina Arango"] = "cata@gmail.com"
x

{'Andrea Alvarez': 'andrea@gmail.com',
 'Catalina Arango': 'cata@gmail.com',
 'David Arango': 'david@gmail.com'}

In [133]:
store1 = [10.0, 10.5, 11.3]
store2 = [10.2, 10.1, 11.5]
cheapest = map(min, store1, store2)
cheapest

In [134]:
list(cheapest)

[10.0, 10.1, 11.3]

In [135]:
"the story of {0} and {1} and {c}".format("a","b", c="c")

'the story of a and b and c'

# Numpy Library

In [136]:
import numpy as np

In [137]:
#creating a numpy array:
my_list = [1,2,3] #python list
array1 = np.array(my_list) #pass python list to numpy array
array1

array([1, 2, 3])

In [138]:
# or more succint:
array1 = np.array([11,12,13])
array1

array([11, 12, 13])

In [139]:
#multidimensional arrays:
array1 = np.array([[1,2,3],[4,5,6],[7,8,9]])
array1

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [140]:
#checking dimensions of an array:
array1.shape

(3, 3)

In [141]:
#creating an evenly-spaced array:
array1 = np.arange(0,30,2) #(start,end,step-size)
array1

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28])

In [142]:
#reshaping an array:
array1 = array1.reshape(3,5)
array1

array([[ 0,  2,  4,  6,  8],
       [10, 12, 14, 16, 18],
       [20, 22, 24, 26, 28]])

In [143]:
#create array with fixed number of elements, and defined range
array1 = np.linspace(0,4,9) # (start,end,number of elements)
array1

array([0. , 0.5, 1. , 1.5, 2. , 2.5, 3. , 3.5, 4. ])

In [144]:
# resizing an array (does not create new array, modifies original)
array1.resize(3,3)
array1

array([[0. , 0.5, 1. ],
       [1.5, 2. , 2.5],
       [3. , 3.5, 4. ]])

In [145]:
# ones array
np.ones((3,3))

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [146]:
# zeros array
np.zeros((3,3))

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [147]:
# identity array
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [148]:
# diagonal array from vector:
np.diag([2,3,4])

array([[2, 0, 0],
       [0, 3, 0],
       [0, 0, 4]])

In [149]:
# create array2 by repeating array1:
np.array([[1,2,3]*3,[4,5,6]*3]*3)

array([[1, 2, 3, 1, 2, 3, 1, 2, 3],
       [4, 5, 6, 4, 5, 6, 4, 5, 6],
       [1, 2, 3, 1, 2, 3, 1, 2, 3],
       [4, 5, 6, 4, 5, 6, 4, 5, 6],
       [1, 2, 3, 1, 2, 3, 1, 2, 3],
       [4, 5, 6, 4, 5, 6, 4, 5, 6]])

In [150]:
# create array by repeating values:
np.repeat([1,2,3],3)

array([1, 1, 1, 2, 2, 2, 3, 3, 3])

In [151]:
# array of ones, integers:
p = np.ones([2,3], int)
p

array([[1, 1, 1],
       [1, 1, 1]])

In [152]:
#stacking vertically:
np.vstack([p,p*2])

array([[1, 1, 1],
       [1, 1, 1],
       [2, 2, 2],
       [2, 2, 2]])

In [153]:
#stacking horizontally:
np.hstack([p,p*3])

array([[1, 1, 1, 3, 3, 3],
       [1, 1, 1, 3, 3, 3]])

## Array Operations

In [154]:
x = np.array([1,2,3])
y = np.array([4,5,6])

In [155]:
x+y

array([5, 7, 9])

In [156]:
x*y

array([ 4, 10, 18])

In [157]:
x**2

array([1, 4, 9], dtype=int32)

In [158]:
x.dot(y)

32

In [159]:
z = np.array([y,y**2])
z

array([[ 4,  5,  6],
       [16, 25, 36]])

In [160]:
# Transpose of an array:
z.T

array([[ 4, 16],
       [ 5, 25],
       [ 6, 36]])

In [161]:
z.T.shape

(3, 2)

In [162]:
z.dtype

dtype('int32')

In [163]:
# cast array to a different type:
z.astype('f')

array([[ 4.,  5.,  6.],
       [16., 25., 36.]], dtype=float32)

## Useful Functions

In [164]:
x.min()
x.max()
x.sum()

6

In [165]:
x.mean()
x.std()

0.816496580927726

In [166]:
# index of max and min values:
x.argmin()
x.argmax()

2

## Indexing and Slicing

In [167]:
v = np.arange(13)**2
v

array([  0,   1,   4,   9,  16,  25,  36,  49,  64,  81, 100, 121, 144],
      dtype=int32)

In [168]:
v[0],v[4],v[0:3]

(0, 16, array([0, 1, 4], dtype=int32))

In [169]:
# slice from the end of the array:
v[-3:]

array([100, 121, 144], dtype=int32)

In [170]:
# downsampling an array:
v[::2]

array([  0,   4,  16,  36,  64, 100, 144], dtype=int32)

In [171]:
# extracting rows
z[0,:]

array([4, 5, 6])

In [172]:
# extracting cols
z[:,0:2]

array([[ 4,  5],
       [16, 25]])

In [173]:
# extract all cols except the last
z[:,:-1]

array([[ 4,  5],
       [16, 25]])

In [174]:
# extract elements that satisfy a condition:
z[z>5]

array([ 6, 16, 25, 36])

In [175]:
# change element values that satisfy a condition:
z[z>6]=10
z

array([[ 4,  5,  6],
       [10, 10, 10]])

## Making Copies of Arrays

In [176]:
r = np.arange(24)
r.resize(6,4)
r

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23]])

In [177]:
s = r[:3,:3]
s

array([[ 0,  1,  2],
       [ 4,  5,  6],
       [ 8,  9, 10]])

In [178]:
s[s>0]=0
s

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

In [179]:
# s IS NOT A COPY OF r[:3,:3] ! they are the same registers
r

array([[ 0,  0,  0,  3],
       [ 0,  0,  0,  7],
       [ 0,  0,  0, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19],
       [20, 21, 22, 23]])

In [180]:
# to make a copy:
r_copy = r.copy()
r_copy[:] = 10
print(r)
print()
print(r_copy)

[[ 0  0  0  3]
 [ 0  0  0  7]
 [ 0  0  0 11]
 [12 13 14 15]
 [16 17 18 19]
 [20 21 22 23]]

[[10 10 10 10]
 [10 10 10 10]
 [10 10 10 10]
 [10 10 10 10]
 [10 10 10 10]
 [10 10 10 10]]

In [181]:
r_copy[0,:2]

array([10, 10])

## Iterating Over Arrays

In [182]:
test = np.random.randint(0,10,(5,3))
test

array([[2, 3, 5],
       [3, 6, 0],
       [2, 9, 9],
       [1, 4, 2],
       [0, 5, 6]])

In [183]:
for row in test:
    print(row)

[2 3 5]
[3 6 0]
[2 9 9]
[1 4 2]
[0 5 6]

In [184]:
for i in range(len(test)):
    print(test[i])

[2 3 5]
[3 6 0]
[2 9 9]
[1 4 2]
[0 5 6]

In [185]:
for i, row in enumerate(test):
    print('row', i, 'is', row)

row 0 is [2 3 5]
row 1 is [3 6 0]
row 2 is [2 9 9]
row 3 is [1 4 2]
row 4 is [0 5 6]

In [186]:
test2 = test**2
test2

array([[ 4,  9, 25],
       [ 9, 36,  0],
       [ 4, 81, 81],
       [ 1, 16,  4],
       [ 0, 25, 36]], dtype=int32)

In [187]:
for i,j in zip(test, test2):
    print(i, '+', j, '=', i+j)

[2 3 5] + [ 4  9 25] = [ 6 12 30]
[3 6 0] + [ 9 36  0] = [12 42  0]
[2 9 9] + [ 4 81 81] = [ 6 90 90]
[1 4 2] + [ 1 16  4] = [ 2 20  6]
[0 5 6] + [ 0 25 36] = [ 0 30 42]

# PANDAS Toolkit

In [192]:
import pandas as pd

## The Series Data Structure

In [193]:
#pd.Series? # series documentation

In [194]:
# create series from a python list (look at the data types)
animals = ['dog', 'cat', 'bird']
pd.Series(animals)

0     dog
1     cat
2    bird
dtype: object

In [195]:
# create series from a python list (look at the data types)
numbers = [1,2,3,4,5]
pd.Series(numbers)

0    1
1    2
2    3
3    4
4    5
dtype: int64

# Querying a Series

In [196]:
import numpy as np
import pandas as pd

#example series:
s = pd.Series([55,39,19,102,91])
s

0     55
1     39
2     19
3    102
4     91
dtype: int64

In [197]:
#query with .iloc propery, query with [], query with .loc property:

temp = s.iloc[0]
print('with iloc: ',  temp)
temp = s[0]
print('with []: ', temp)
temp = s.loc[0]
print('with loc: ',  temp)
# if we had index labels, .loc property would be more applicable

with iloc:  55
with []:  55
with loc:  55

In [198]:
%%timeit -n 1000
total = 0
for item in s:
    total += item
#print(total)

18 µs ± 2.76 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [199]:
%%timeit -n 1000
total = np.sum(s)
#print(total)
#hmmmm.. the results do not make sense. Check later!

109 µs ± 10.6 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [200]:
#Broadcasting example: (apply an operation to a series and change its values)
s += 2
s.head()

0     57
1     41
2     21
3    104
4     93
dtype: int64

In [201]:
#not done by broadcasting...
for label, value in s.iteritems():
    s.loc[label] = value+2
    
s.head()

0     59
1     43
2     23
3    106
4     95
dtype: int64

In [202]:
s = pd.Series(np.random.randint(0,10,5))
c

0    4
1    0
2    9
3    7
4    5
dtype: int32

In [203]:
s[5] = 4
s.loc[6] = 'string1'
s

0          9
1          5
2          8
3          1
4          9
5          4
6    string1
dtype: object

In [204]:
original_sports = pd.Series({'Soccer':'Brasil', 'Golf': 'Scotland', 'Tennis': 'Spain'})
original_sports

Golf      Scotland
Soccer      Brasil
Tennis       Spain
dtype: object

In [205]:
cricket_countries = pd.Series(['Australia','Barbados','Pakistan','India'], index = ['Cricket','Cricket','Cricket','Cricket'])
cricket_countries

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket        India
dtype: object

In [206]:
all_countries = cricket_countries.append(original_sports)
all_countries

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket        India
Golf        Scotland
Soccer        Brasil
Tennis         Spain
dtype: object

In [207]:
# the original series is not changed by the append operation!
cricket_countries

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket        India
dtype: object

# The DataFrame Data Structure

In [251]:
# ex: creating a DataFrame from multiple Series:
purchase1 = pd.Series({'Name': 'Dave', 'Item': 'Dog Food', 'Cost': 12.50})
purchase2 = pd.Series({'Name': 'Cata', 'Item': 'Cat Litter', 'Cost': 5.50})
purchase3 = pd.Series({'Name': 'Andre', 'Item': 'Bird Seed', 'Cost': 2.50})

df = pd.DataFrame([purchase1,purchase2,purchase3], index = ['store1','store1','store2'])
#df = pd.DataFrame([purchase1,purchase2,purchase3]) #if index not specified, it starts at 0
df

        Cost        Item   Name
store1  12.5    Dog Food   Dave
store1   5.5  Cat Litter   Cata
store2   2.5   Bird Seed  Andre

In [252]:
# query wity unique index
df.loc['store2']

Cost          2.5
Item    Bird Seed
Name        Andre
Name: store2, dtype: object

In [253]:
# query with non-unique index
df.loc['store1']

        Cost        Item  Name
store1  12.5    Dog Food  Dave
store1   5.5  Cat Litter  Cata

In [254]:
# if we need just one column returned from the query:
df.loc['store1']['Cost']
# this 'chaining' returns a copy, not a view on the dataframe. Try to avoid chaining

store1    12.5
store1     5.5
Name: Cost, dtype: float64

In [255]:
# This approach is more appropriate, if you´re changing data on the df:
df.loc[:,['Cost', 'Item']]

        Cost        Item
store1  12.5    Dog Food
store1   5.5  Cat Litter
store2   2.5   Bird Seed

In [256]:
# Dropping data (row): does not delete data from original DFrame
df.drop('store1')
df

        Cost        Item   Name
store1  12.5    Dog Food   Dave
store1   5.5  Cat Litter   Cata
store2   2.5   Bird Seed  Andre

In [258]:
# Dropping data (row) permanently!
df_copy = df.drop('store1') 
df_copy

        Cost       Item   Name
store2   2.5  Bird Seed  Andre

In [259]:
# You can also use the del keyword, using the indexing operator directly:
# This takes inmediate effect on the ORIGINAL DFrame
df_copy = df
del df_copy["Item"]
df

        Cost   Name
store1  12.5   Dave
store1   5.5   Cata
store2   2.5  Andre

In [260]:
# adding a new column to the DataFrame:
df['Location']=None
df

        Cost   Name Location
store1  12.5   Dave     None
store1   5.5   Cata     None
store2   2.5  Andre     None

In [262]:
# applying changes to a column on the DataFrame (Broadcasting)
# ex: 20% discount on all products:

df['Cost'] *= 0.8
df

        Cost   Name Location
store1  10.0   Dave     None
store1   4.4   Cata     None
store2   2.0  Andre     None

In [263]:
df.columns

Index(['Cost', 'Name', 'Location'], dtype='object')

In [273]:

df.rename(index=str, columns={"Cost": "Cost!", "Name": "Name!"})

        Cost!  Name! Location
store1   10.0   Dave     None
store1    4.4   Cata     None
store2    2.0  Andre     None