In [3]:
lst = [n for n in range(0,10)]
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
def add_nums(x,y):
    return x+y

add_nums(1,2)

3

In [15]:
my_list = [1,2,3,4,5]
my_list.append(6) 
my_list

[1, 2, 3, 4, 5, 6]

In [16]:
my_list[0]

1

In [19]:
my_list + ['a','b','c']

[1, 2, 3, 4, 5, 6, 'a', 'b', 'c']

In [21]:
1 in my_list

True

In [24]:
my_list[0:3]

[1, 2, 3]

In [27]:
fullName = 'Andrea Alvarez Rodriguez'
firstName = fullName.split(" ")[0]
secondLastName = fullName.split(" ")[-1]
print(firstName)
print(secondLastName)

Andrea
Rodriguez

In [31]:
x = {"David Arango": "david@gmail.com", "Andrea Alvarez": "andrea@gmail.com"}
x

{'Andrea Alvarez': 'andrea@gmail.com', 'David Arango': 'david@gmail.com'}

In [35]:
x["David Arango"]

'david@gmail.com'

In [37]:
x["Catalina Arango"] = "cata@gmail.com"
x

{'Andrea Alvarez': 'andrea@gmail.com',
 'Catalina Arango': 'cata@gmail.com',
 'David Arango': 'david@gmail.com'}

In [44]:
store1 = [10.0, 10.5, 11.3]
store2 = [10.2, 10.1, 11.5]
cheapest = map(min, store1, store2)
cheapest

In [45]:
list(cheapest)

[10.0, 10.1, 11.3]

In [55]:
"the story of {0} and {1} and {c}".format("a","b", c="c")

'the story of a and b and c'