In [1]:
#EL ARCHIVO CARGADO DEBE ACTUALIZARSE AL MENOS MENSUALMENTE CON LOS PACIENTES NUEVOS

import numpy as np
import pandas as pd

from IPython.display import display
pd.options.display.max_columns = None

pd.set_option("display.max_rows",1000)

bday_df = pd.read_csv('ClinicCloud Ventas Con FechaNac.csv', engine='python')
bday_df.head(3)

,Nombre_Clinica,nombre,apellidos,dni,tele1,tele2,fechanac,TotalPagos,Num. Presupuesto,Fecha Presupuesto
0,Autopista 104A Bogota,Margarita,ojeda rios,37242086,3124056889,3118897350,09/06/1950,866903,71.0,09/03/2015
1,Autopista 104A Bogota,jose alfonso,puentes babativa,19097817,3132780412,NaN,25/06/1998,218103,84.0,09/03/2015
2,Autopista 104A Bogota,Sandra Patricia,Sanchez Tellez,52537051,3105572267,NaN,23/08/1979,6345838,85.0,09/03/2015

In [2]:
bday_df['bday']=None
bday_df['fecha_ref']='24/07'

bday_df['bday']=bday_df['fechanac'].str.slice(start=0,stop=5)
bday_df=bday_df[bday_df['bday']==bday_df['fecha_ref']]
#bday_df=bday_df.set_index('Nombre_Clinica')
bday_df=bday_df[['Nombre_Clinica','nombre','apellidos','tele1','tele2','fechanac','TotalPagos','Fecha Presupuesto']]
bday_df=bday_df.reset_index()
bday_df.head()

,index,Nombre_Clinica,nombre,apellidos,tele1,tele2,fechanac,TotalPagos,Fecha Presupuesto
0,362,Autopista 104A Bogota,Gladys,Piamonte Acuña,3138109232,NaN,24/07/1961,658000,22/06/2015
1,594,Autopista 104A Bogota,orlando,cadena grande,3123817146,NaN,24/07/1971,2500000,29/08/2015
2,1027,Autopista 104A Bogota,Luz Esperanza,Gordillo,3138575006,NaN,24/07/1962,3384300,09/11/2015
3,1434,Autopista 104A Bogota,DIANA,PALACIOS,3103431406,3966151,24/07/1975,534300,14/01/2016
4,1822,Autopista 104A Bogota,VALERIA,FONSECA MARTINEZ,3105536130,NaN,24/07/2004,36300,18/03/2016

In [27]:
# generacion de reportes

clinicas = bday_df['Nombre_Clinica'].unique()

for i in clinicas:
    temp_df = bday_df[bday_df['Nombre_Clinica'] == i]
    temp_df.to_csv('cumple %s.csv' % i, index = False)                  
                              
bday_df.to_csv('cumpleanos.csv', index = False)
print("Archivos generado!")