In [21]:
import pandas as pd
import numpy as np

venta_df = pd.read_csv("libro1.csv")
venta_df.head(2)

,idApunte,IdClinica,Nombre_Clinica,idContacto,nombre,apellidos,dni,Doctor,fechaApunte,Mes,Id_Tratamiento,Nombre_Tratamiento,Pieza,Cantidad,Precio,Precio_sin_descuento,Descuento_Porcentaje,Vr_descontado,Precio_con_descuento,TotalPagos
0,37436984,2000.0,Autopista 104A Bogota,826386.0,EVELYN,DAZA,55312212,LEIDIS MARIAN MEJIA CUENTAS,01/02/18 08:49:00,February,16711.0,MENSUALIDAD ORTODONCIA METALICA,11.0,18.0,70000.0,1260000.0,17.9,225540.0,1034460.0,50000.0
1,37438244,2000.0,Autopista 104A Bogota,3745258.0,CARLOS ANDRES,RODRIGUEZ,3631486...,Diana Patricia Guayana,01/02/18 03:51:00,February,19523.0,PROFILAXIS,11.0,1.0,40000.0,40000.0,10.0,4000.0,36000.0,-30000.0

In [20]:

prod_df = pd.read_csv('prod.csv', engine='python')
prod_df.head(2)

,Clínica,Fecha Cita,Fecha Pago,DNI,Doctor,Paciente,Nº Historia,Presupuesto,Tratamiento,Categoría,Especialidad,Duración,Importe Tratamiento,% Descuento,Importe Descuento,Importe Producido,Equivalencia
0,Dentix Av. 100 Cali,02/01/2016,02/01/2016,55312212,MARIA ISABEL MUÑOZ QUINTERO,EVELYN DAZA,123,10,1x RESINA FOTOPOLIMERIZADO 2 SUP POSTERIOR Y P...,Generalista,OPERATORIA GENERAL,30,95000.0,0%,0,95000,0.0
1,Dentix Av. 100 Cali,02/01/2016,02/01/2016,55312212,MARIA ISABEL MUÑOZ QUINTERO,EVELYN DAZA,123,12,1x PROVISIONALES. Pieza: 21,Generalista,REHABILITACIÓN,30,135000.0,0%,0,135000,0.0

In [24]:
venta_df['ttmto_homol']=None
venta_df['unids_pdtes']=None
venta_df['ultima_aten']=None
venta_df['fecha_prog']=None
venta_df['retraso']=None
venta_df['estado']=None
venta_df['nivel_retraso']=None

venta_df.head(2)

,idApunte,IdClinica,Nombre_Clinica,idContacto,nombre,apellidos,dni,Doctor,fechaApunte,Mes,...,Vr_descontado,Precio_con_descuento,TotalPagos,ttmto_homol,unids_pdtes,ultima_aten,fecha_prog,retraso,estado,nivel_retraso
0,37436984,2000.0,Autopista 104A Bogota,826386.0,EVELYN,DAZA,55312212,LEIDIS MARIAN MEJIA CUENTAS,01/02/18 08:49:00,February,...,225540.0,1034460.0,50000.0,None,None,None,None,None,None,None
1,37438244,2000.0,Autopista 104A Bogota,3745258.0,CARLOS ANDRES,RODRIGUEZ,3631486...,Diana Patricia Guayana,01/02/18 03:51:00,February,...,4000.0,36000.0,-30000.0,None,None,None,None,None,None,None

In [25]:
pac1 = venta_df[venta_df['dni']=='55312212']
pac1.head(3)
#temp = df[df['Nombre_Tratamiento']=="PROFILAXIS"]

,idApunte,IdClinica,Nombre_Clinica,idContacto,nombre,apellidos,dni,Doctor,fechaApunte,Mes,...,Vr_descontado,Precio_con_descuento,TotalPagos,ttmto_homol,unids_pdtes,ultima_aten,fecha_prog,retraso,estado,nivel_retraso
0,37436984,2000.0,Autopista 104A Bogota,826386.0,EVELYN,DAZA,55312212,LEIDIS MARIAN MEJIA CUENTAS,01/02/18 08:49:00,February,...,225540.0,1034460.0,50000.0,None,None,None,None,None,None,None
533,37771381,2000.0,Autopista 104A Bogota,826386.0,EVELYN,DAZA,55312212,MARIA APONTE MUNAR,08/02/18 10:22:00,February,...,225540.0,1034460.0,16000.0,None,None,None,None,None,None,None
1181,38147237,2000.0,Autopista 104A Bogota,826386.0,EVELYN,DAZA,55312212,LEIDIS MARIAN MEJIA CUENTAS,15/02/18 09:44:00,February,...,26850.0,123150.0,12650.0,None,None,None,None,None,None,None

In [16]:
#homologacion de nombres de tratamientos
venta_df['ttmto_homol']=None
venta_df['ttmto_homol']=venta_df['Nombre_Tratamiento']

#diccionario de homologacion para VENTA (faltaría como arreglar las mensualidades de orto y similares)
di = {"RASPAJE Y PULIDO CORONAL(DETRARTAJE SUPRAGINGIVAL) X CUADRANTE": "RASPAJE_CUADRANTE", "ESTUDIO CEFALOMETRICO": "CEFALOMETRIA"}
venta_df['ttmto_homol'].replace(di, inplace=True)

#revisar tratamiento y cantidad
venta_df['Cantidad'].loc[0]+1
#venta_df.loc[:,['ttmto_homol', 'Cantidad']]

19.0